/Transformed
/transforms/cda2fhir-r4/xspec-unit-tests/*.html
/transforms/fhir2cda-r4/xspec-unit-tests/*.html
/transforms/cda2fhir-r4/xspec-unit-tests/xspec-unit-test-results
/samples/transformed
/samples/cda/112023-eICR-Ohio
/samples/cda/20240501-Sprint-4
/samples/cda/ECR-5456_attachments
/samples/cda/ECR-5457_attachments
/samples/cda/eICR-R1_1
/samples/cda/eICR-R3_1
/samples/cda/eICR_Transform_Examples_04162024
/samples/fhir/20231115-Sprint-1
/samples/fhir/20231206-Sprint-2
/samples/fhir/20240110-Sprint-3
/samples/fhir/20240306-HIMSS
/samples/fhir/20240504-Sujata-XSpecIssue
/samples/fhir/eICR-R2_1
/samples/fhir/testr1.1
/samples/cda/20231115-Sprint-1
/transforms/cda2fhir-r4/xspec-unit-tests/xspec
